.search-list {
  overflow: auto;
  height: 94%;
  padding: 0 10px;
  margin-top: 10px;

  .song {
    border: 1px solid #000;
    display: flex;
    margin-bottom: 13px;
    padding: 10px;

    .song-content {
      display: flex;
    }

    &:hover {
      background: #ccc;
      cursor: pointer;
    }

    span:first-child {
      white-space: nowrap;
    }

    span:last-child {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      display: block;
      margin-left: 10px;
    }

    &.active {
      background: #ccc;
      cursor: default;
    }
  }
}
