<div *ngIf="quotes" class="quotes-wrapper">
  <div class="quotes-header">
    <h3>Quotes</h3>
    <span>{{ quotes?.length }} quotes</span>
  </div>

  <div class="quotes-list">
    <div (click)="selectQuote($event, quote)"
         *ngFor="let quote of quotes"
         [ngClass]="{ active: quote?.offset === offsetSelected }"
         class="quote">
      <span class="play-icon"><img alt="play" src="assets/play.png"/></span>
      <span class="quote-text">{{ quote.text }}</span>
      <span class="quote-time">{{quote.offset * 1000 | date: "mm:ss":"UTC"}}</span>
    </div>
  </div>
</div>
